ASSETS_BUCKET_NAME="assets.ocubeltd.co.uk"
THUMBING_S3_FOLDER_INPUT="cruddur-uploaded-avatars"
THUMBING_S3_FOLDER_OUTPUT="avatars/processed"
THUMBING_WEBHOOK_URL="https://api.ocubeltd.co.uk/webhooks/avatar"
THUMBING_TOPIC_NAME="cruddur-assets"
THUMBING_FUNCTION_PATH="/workspace/aws-bootcamp-cruddur-2023/aws/lambdas/process-images"